<div class="row">
	<schedule-progress></schedule-progress>
</div>
<div class="modal-footer">
	<button class="btn btn-primary btn-sm" (click)="start()"><i class="fa fa-play"></i> Bắt đầu</button>
	<button class="btn btn-info btn-sm" (click)="pause()"><i class="fa fa-pause"></i> Tạm dừng</button>
	<button class="btn btn-info btn-sm" (click)="resume()"><i class="fa fa-play"></i> Tiếp tục</button>
	<button class="btn btn-danger btn-sm" (click)="stop()"><i class="fa fa-stop"></i> Kết thúc</button>
	<button class="btn btn-sm" (click)="close()"><i class="fa fa-times"></i> Đóng</button>
</div>
