<div class="row">
	<div class="form-group">
		<button class="btn btn-primary btn-sm" (click)="start()" *ngIf="status == jobStatus.Stopped"><i class="material-icons">send</i> {{options.buttons.start}}</button>
		<button class="btn btn-info btn-sm" (click)="pause()" *ngIf="status != jobStatus.Paused && status != jobStatus.Stopped"><i
			class="material-icons">pause</i> Tạm dừng
		</button>
		<button class="btn btn-info btn-sm" (click)="resume()" *ngIf="status != jobStatus.Running && status != jobStatus.Stopped"><i
			class="material-icons">play_arrow</i> Tiếp tục
		</button>
		<button class="btn btn-sm" (click)="stop()" *ngIf="status != jobStatus.Stopped"><i
			class="material-icons">stop</i> Kết thúc
		</button>
		<button class="btn btn-info btn-sm" (click)="showList()" title="Chọn lịch từ danh sách"><i class="material-icons">list</i> Lịch đăng</button>
		<button class="btn btn-info btn-sm" (click)="newSchedule()" title="Thêm lịch" *ngIf="!schedule"><i class="material-icons">add</i></button>
	</div>
	<div class="row mt15 box-post-schedule" style="display: block;" *ngIf="schedule">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb0">
			<div class="custom-card">
				<div class="body">
					<div class="row">
						<div class="col-md-6">
							<b><i class="fa fa-clock-o" aria-hidden="true"></i> Tên lịch</b>
							<div class="input-group mb0">
								<input [(ngModel)]="schedule.name" class="form-control">
							</div>
						</div>
						<div class="col-md-6 col-xs-6">
							<b><i class="fa fa-bullseye" aria-hidden="true"></i> Trạng thái</b>
							<div class="input-group mb0">
								<kendo-dropdownlist
									[data]="statusList"
									[textField]="'text'"
									[valueField]="'value'"
									[valuePrimitive]="true"
									[(ngModel)]="schedule.active"
									class="form-control">
								</kendo-dropdownlist>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<b><i class="fa fa-bullseye" aria-hidden="true"></i> Thời gian tạm dừng</b>
							<div class="input-group mb0">
								<kendo-dropdownlist
									[data]="delayList"
									[textField]="'text'"
									[valueField]="'value'"
									[valuePrimitive]="true"
									[(ngModel)]="schedule.delay"
									class="form-control">
								</kendo-dropdownlist>
							</div>
						</div>
						<div class="col-md-6">
							<b><i class="fa fa-repeat" aria-hidden="true"></i> Lặp lại sau</b>
							<div class="input-group mb0">
								<kendo-dropdownlist
									[defaultItem]="{text:'Không lặp lại', value: null}"
									[data]="repeatList"
									[textField]="'text'"
									[valueField]="'value'"
									[valuePrimitive]="true"
									[(ngModel)]="schedule.repeat"
									class="form-control">
								</kendo-dropdownlist>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<b><i class="fa fa-clock-o" aria-hidden="true"></i> Bắt đầu</b>
							<div class="input-group mb0">
								<div class="form-line">
									<kendo-datepicker
										[(value)]="schedule.startTime"
									></kendo-datepicker>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<b><i class="fa fa-calendar" aria-hidden="true"></i> Kết thúc</b>
							<div class="input-group mb0">
								<div class="form-line">
									<kendo-datepicker
										[(value)]="schedule.endTime"
									></kendo-datepicker>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 mb0">
							<div class="form-group">
								<button class="btn btn-info btn-sm" (click)="saveSchedule()"><i class="material-icons">today</i>
									Lưu đặt lịch
								</button>
								<button class="btn btn-sm" (click)="hideSchedule()" title="Hủy bỏ" *ngIf="schedule"><i class="material-icons">cancel</i> Hủy bỏ</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
