<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header card-header-icon" data-background-color="rose">
				<i class="material-icons">assignment</i>
			</div>
			<div class="card-content">
				<div class="card-title">
					<span>Danh sách bài viết</span>
					<span class="toolbar">
						<button class="btn btn-primary" (click)="add()">Thêm mới</button>
					</span>
				</div>
				<div class="card-data">
					<div class="table-responsive">
						<table class="table">
							<thead class="text-primary">
							<tr>
								<th>Tiêu đề</th>
								<th>Loại bài viết</th>
								<th>Ngày tạo</th>
								<th>Thao tác</th>
							</tr>
							</thead>
							<tbody>
							<tr *ngFor="let item of posts; let i = index; trackBy: id">
								<td width="50%">{{item.title}}</td>
								<td>{{item.type | postType}}</td>
								<td>{{item.createdAt | date: 'short' }}</td>
								<td class="td-actions">
									<button type="button" class="btn btn-primary btn-simple btn-xs" (click)="edit(item)">
										<i class="material-icons">edit</i>
										<div class="ripple-container"></div>
									</button>
									<button type="button" class="btn btn-danger btn-simple btn-xs" (click)="remove(item)">
										<i class="material-icons">close</i>
									</button>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
