<div class="row">
	<div class="col-md-12">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-3 control-label">Tên nhóm tài khoản mục tiêu</label>
				<div class="col-sm-9">
					<input class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Mô tả</label>
				<div class="col-sm-9">
					<input class="form-control">
				</div>
			</div>
		</div>
		<div class="search form-group">
			<div class="form-inline">
				<button class="btn btn-primary btn-simple btn-sm" (click)="openSearchPopup()"><i class="fa fa-search"></i> Tìm kiếm mục tiêu</button>
				<button class="btn btn-success btn-simple btn-sm" (click)="clear()"><i class="fa fa-times"></i> Xóa tất cả</button>
			</div>
		</div>
		<kendo-grid [data]="accounts" [height]="350">
			<kendo-grid-column field="id" title="ID" width="150">
			</kendo-grid-column>
			<kendo-grid-column field="name" title="Tên">
			</kendo-grid-column>
		</kendo-grid>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary btn-sm" (click)="save()"><i class="fa fa-thumbs-o-up"></i> Lưu</button>
	<button class="btn btn-sm" (click)="cancel()"><i class="fa fa-window-close-o"></i> Hủy bỏ</button>
</div>
