<div class="row" style="margin-bottom: 10px">
	<div class="form-group col-sm-12">
		<button class="btn btn-info btn-sm" (click)="showList()" title="Chọn lịch từ danh sách"><i class="material-icons">list</i> Danh sách lịch</button>
	</div>
</div>
<div class="row">
	<div class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-3 control-label">Tên lịch</label>
			<div class="col-sm-9">
				<input [(ngModel)]="schedule.name" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Thời gian tạm dừng</label>
			<div class="col-sm-9">
				<div class="input-group mb0">
					<kendo-dropdownlist
						[data]="delayList"
						[textField]="'text'"
						[valueField]="'value'"
						[valuePrimitive]="true"
						[(ngModel)]="schedule.delay"
						class="form-control">
					</kendo-dropdownlist>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Lặp lại sau</label>
			<div class="col-sm-9">
				<div class="input-group mb0">
					<kendo-dropdownlist
						[defaultItem]="{text:'Không lặp lại', value: null}"
						[data]="repeatList"
						[textField]="'text'"
						[valueField]="'value'"
						[valuePrimitive]="true"
						[(ngModel)]="schedule.repeat"
						class="form-control">
					</kendo-dropdownlist>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Bắt đầu</label>
			<div class="col-sm-9">
				<div class="input-group mb0">
					<kendo-datepicker
						[(value)]="schedule.startTime"
					></kendo-datepicker>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Kết thúc</label>
			<div class="col-sm-9">
				<div class="input-group mb0">
					<kendo-datepicker
						[(value)]="schedule.endTime"
					></kendo-datepicker>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Trạng thái</label>
			<div class="col-sm-9">
				<div class="input-group mb0">
					<kendo-dropdownlist
						[data]="statusList"
						[textField]="'text'"
						[valueField]="'value'"
						[valuePrimitive]="true"
						[(ngModel)]="schedule.active"
						class="form-control">
					</kendo-dropdownlist>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<button class="btn btn-info btn-sm" (click)="saveSchedule()">
				<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
				Lưu đặt lịch
			</button>
		</div>
	</div>
</div>
