<div class="row">
	<div class="col-md-12">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-4 control-label">Nhóm</label>
				<div class="col-sm-8">
					<div class="form-inline">
						https://facebook.com/<input class="form-control" [(ngModel)]="groupId" placeholder="Group">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Tương tác</label>
				<div class="col-sm-8 form-inline">
					<div class="checkbox">
						<label>
							<input type="checkbox" [(ngModel)]="like">
							<span class="checkbox-material"><span class="check"></span></span>
							Thích
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" [(ngModel)]="comment">
							<span class="checkbox-material"><span class="check"></span></span>
							Bình luận
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" [(ngModel)]="share">
							<span class="checkbox-material"><span class="check"></span></span>
							Chia sẻ
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Thời gian</label>
				<div class="col-sm-8">
					<div class="input-group mb0">
						<kendo-dropdownlist
							[data]="ranges"
							[textField]="'text'"
							[valueField]="'value'"
							[valuePrimitive]="true"
							[(ngModel)]="timeRange"
							class="form-control">
						</kendo-dropdownlist>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-8">
					<button class="btn btn-success btn-sm" (click)="startLoading()"><i class="fa fa-download"></i> Tải tương tác</button>
					<button class="btn btn-sm" (click)="stopLoading()"><i class="fa fa-download"></i> Dừng lại</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-8">
					<div *ngIf="loadingPost == 1" class="text-primary">Đang tải bài đăng: {{posts.length}} ...</div>
					<div *ngIf="loadingPost == 2" class="text-primary">Kết thúc tải bài đăng: {{posts.length}}.</div>
					<div *ngIf="loadingAccount == 1" class="text-primary">Đang tải tài khoản: {{accounts.length}} ...</div>
					<div *ngIf="loadingAccount == 2" class="text-primary">Kết thúc tải tài khoản: {{accounts.length}}.</div>
				</div>
			</div>
		</div>
	</div>
</div>
