<div class="row">
	<div class="col-md-12">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-4 control-label">Nhóm</label>
				<div class="col-sm-8">
					<div class="form-inline">
						https://facebook.com/groups/<input class="form-control" [(ngModel)]="groupId" placeholder="Group">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Hành động</label>
				<div class="col-sm-8 form-inline">
					<div class="clearfix"><label><input type="radio" name="action" [(ngModel)]="action" [value]="2" class="form-control"> Tải Thành viên nhóm</label></div>
					<div class="clearfix"><label><input type="radio" name="action" [(ngModel)]="action" [value]="1" class="form-control"> Tương tác với bài viết</label></div>
					<div *ngIf="action == 1">
						<div class="checkbox">
							<label>
								<input type="checkbox" [(ngModel)]="like">
								<span class="checkbox-material"><span class="check"></span></span>
								Thích
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" [(ngModel)]="comment">
								<span class="checkbox-material"><span class="check"></span></span>
								Bình luận
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" [(ngModel)]="share">
								<span class="checkbox-material"><span class="check"></span></span>
								Chia sẻ
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Thời gian</label>
				<div class="col-sm-8">
					<div class="input-group mb0">
						<kendo-dropdownlist
							[data]="ranges"
							[textField]="'text'"
							[valueField]="'value'"
							[valuePrimitive]="true"
							[(ngModel)]="timeRange"
							class="form-control">
						</kendo-dropdownlist>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-8">
					<button class="btn btn-success btn-sm" (click)="startLoading()"><i class="fa fa-download"></i> Tải tài khoản</button>
					<button class="btn btn-sm" (click)="stopLoading()" *ngIf="(loadingAccount$ | async) == 1"><i class="fa fa-close"></i> Dừng lại</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-8">
					<div *ngIf="loadingPost == 1" class="text-primary">Đang tải bài đăng: {{posts.length}} ...</div>
					<div *ngIf="loadingPost == 2" class="text-primary">Kết thúc tải bài đăng: {{posts.length}}.</div>
					<div *ngIf="(loadingAccount$ | async) == 1" class="text-primary">Đang tải tài khoản: {{accounts.length}} ...</div>
					<div *ngIf="(loadingAccount$ | async) == 2" class="text-primary">Kết thúc tải tài khoản: {{accounts.length}}.</div>
					<div *ngIf="(loadingAccount$ | async) == 3" class="text-primary">Đã hủy!</div>
				</div>
			</div>
		</div>
	</div>
</div>
