<div>
	<div class="search">
		<div class="form-inline">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Tên nhóm" [(ngModel)]="term">
			</div>
			<button class="btn btn-primary btn-sm" (click)="search()"><i class="material-icons">search</i> Tìm kiếm</button>
		</div>
	</div>
	<kendo-grid [data]="groups" [height]="410">
		<kendo-grid-column field="checked" title="" width="20">
			<ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
				<input type="checkbox" [(ngModel)]="isCheckAll" (change)="onCheckAll()"/>
			</ng-template>
			<ng-template kendoGridCellTemplate let-dataItem>
				<input type="checkbox" [(ngModel)]="dataItem.checked" (change)="onCheckGroup(dataItem)"/>
			</ng-template>
		</kendo-grid-column>
		<kendo-grid-column field="name" title="Nhóm" width="200">
		</kendo-grid-column>
		<kendo-grid-column field="members" title="Thành viên" width="80">
		</kendo-grid-column>
		<kendo-grid-column field="privacy" title="Trạng thái" width="80">
		</kendo-grid-column>
	</kendo-grid>
</div>
