/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';
// override fonts path to prevent build errors (or use resolve-url loader)
//$roboto-font-path: "../../node_modules/materialize-css/fonts/roboto/";
//
//@import "~materialize-css/sass/materialize";
@import "kendo.modify.css";

html {
  font-size: 13px;
}

a {
  cursor: pointer;
}

a.text-primary {
  color: #286090;
}
a.text-danger {
  color: #f44336;
}

html.login {
  display: table;
  margin: auto;
}

body.login {
  display: table-cell;
  vertical-align: middle;
}

.login.darken-1 {
  background-color: #3b5998 !important;
}

.container {
  padding: 0 .5rem;
  margin: 0 auto;
  max-width: 100% !important;
  min-width: 280px !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.input-field {
  margin-bottom: 8px;
}

[type="checkbox"] + label::before {
  border: 2px solid rgba(255, 255, 255, .87);
}

[type="checkbox"]:checked + label::before {
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  display: block;
  font-size: 24px;
  height: auto;
  line-height: inherit;
}

.navbar .btn {
  height: auto;
}

nav {
  line-height: inherit;
}

.row {
  margin-bottom: 0px;
}
.w50 {
  width: 50%;
}
.w25 {
  width: 25%;
}

.sidebar .logo-img,
.off-canvas-sidebar .logo-img {
  width: 30px;
  display: inline-block;
  max-height: 30px;
  margin-left: 10px;
  margin-right: 15px;
}

.sidebar .logo-img img,
.off-canvas-sidebar .logo-img img {
  width: 35px;
  top: 16px;
  position: absolute;
}

.sidebar[data-background-color="black"], .off-canvas-sidebar[data-background-color="black"] {
  background-color: #191919;
}

.sidebar[data-background-color="black"] .sidebar-background:after,
.off-canvas-sidebar[data-background-color="black"] .sidebar-background:after {
  background: #3b5998;
  opacity: .8;
}

.btn, .btn-large, .btn-flat {
  line-height: 18px;
  padding: 10px 15px;
}

.main-panel > .content {
  padding: 10px 15px;
}

.card .card-title {
  font-size: 18px;
}

.card .card-content .card-title {
  line-height: 20px;
  margin-bottom: 5px;
}

.card .card-content .card-title .toolbar {
  float: right;
  margin-top: -15px;
}

.card .card-content .card-data {
  width: 100%;
  clear: both;
}

.card.no-header {
  margin: 0 0;
}

modal-overlay {
  position: fixed !important;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 1500 !important;
}
.modal .modal-dialog {
  margin-top: 30px;
}

.modal-content {
  border-radius: 0px;
}

.modal-lg {
  width: 1000px;
}
.modal-sm {
  width: 650px;
}

.modal-content .modal-header {
  padding-top: 10px;
  padding-right: 15px;
}

.modal-title {
  font-size: 20px;
}

.modal-backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.modal-content .modal-body + .modal-footer {
  padding-right: 20px;
}

.close {
  font-size: 21px;
}

/* Post preview */
.post-preview {
  padding: 10px;
}
.post-preview .preview-header img {
  width: 45px;
  float: left;
  border: 1px solid #ddd;
}
.post-preview .preview-header .box-info {
  float: left;
  margin-left: 7px;
}
.post-preview .preview-header .box-info .title {
  font-weight: bold;
}
.post-preview .preview-header .box-info .desc {
  color: #e3e3e3;
}
.post-preview .preview-content {
  margin-top: 15px;
}
.post-preview .preview-content .text-message{
  white-space: pre-line;
}
.post-preview .preview-content .line-no-text {
  margin-bottom: 3px;
  height: 13px;
  background: #eee;
}
.post-preview .preview-content .box-preview-link {
  border: 1px solid #ddd;
}
.post-preview .preview-content .box-preview-link {
  margin-top: 15px;
}
.post-preview .preview-content .preview-box-image, .post-preview .preview-content .preview-box-video {
  height: 350px;
  background-size: cover;
  background-position: center center;
}
.post-preview .preview-content .preview-footer-link {
  padding: 10px;
}
.post-preview .preview-content .preview-box-caption {
  margin-top: 10px;
  display: block;
}
.post-preview .preview-content .preview-box-video {
  width: 100%;
  /*background-image: url(../images/bnt-play.png);*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: inherit;
}

/* POST */
.post {
  overflow: hidden;
  background-color: white;
  margin: auto;
}

.PreviewPoster {

}

.PreviewPoster img {
  float: left;
  margin: 0px 5px 5px 0px;
  width: 40px;
  height: 40px;
}

.previewPoster .userFullName {
  clear: right;
  display: block;
  color: #3b5998;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
}

.postPreviewDetails {
  margin: 5px 0px;
  display: block;
  color: #9197a3;
  font-size: 12px;
}

.PreviewContent {
  max-height: 400px;
  overflow-y: scroll;
}

.post .message {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.post .name {
  font-size: 19px;
  padding: 10px 15px;
  margin: 0px;
}

.post .description {
  padding: 5px 15px;
  margin: 0px;
}

.post .caption {
  float: left;
  padding: 10px 15px;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  color: #9197a3;
  font-family: helvetica, arial, sans-serif;
  margin: 0px;
}

.post .productname {
  font-weight: bold;
  height: 25px;
  width: 100%;
  display: inline-block;
}

.post .price {
  color: #71a830;
  height: 25px;
  width: 100%;
  display: inline-block;
}

.post .location {
  color: #90949c;
  height: 25px;
  width: 100%;
  display: inline-block;
}

.defaultName {
  background-color: #ededed;
  height: 20px;
  width: 82%;
  display: block;
  margin-top: 10px;
}

.defaultMessage {
  background-color: #eee;
  height: 25px;
  width: 60%;
  display: block;
  float: left;
  margin-bottom: 5px;
}

.previewPostLink {
  color: #141823;
  text-decoration: none !important;
}

.previewLink {
  width: 100%;
  /*height: 200px;*/
  background: #eeeeee;
  clear: both;
  border: 1px solid #ededed;
  min-height: 200px;
  overflow: hidden;
}

.previewLink iframe, .previewLink img, .previewLink video {
  height: 100%;
  width: 100%;
}

.postDetails {
  overflow: hidden;
  border: solid 1px #ededed;
  border-top: none;
}

.defaultDescription {
  background-color: #eee;
  height: 3px;
  width: 100%;
  display: block;
  float: left;
  margin: 2px 0px;
}

.defaultCaption {
  background-color: #eee;
  height: 5px;
  width: 70px;
  display: block;
  float: left;
  margin: 2px 5px;
}

.nav-pills > li > a {
  line-height: 15px;
  min-width: inherit;
}

.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .open > .btn.btn-primary.dropdown-toggle, .open > .btn.btn-primary.dropdown-toggle:focus, .open > .btn.btn-primary.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-primary, .navbar .navbar-nav > li > a.btn.btn-primary:hover, .navbar .navbar-nav > li > a.btn.btn-primary:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active, .navbar .navbar-nav > li > a.btn.btn-primary.active, .navbar .navbar-nav > li > a.btn.btn-primary:active:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active:hover, .navbar .navbar-nav > li > a.btn.btn-primary.active:focus, .navbar .navbar-nav > li > a.btn.btn-primary.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover {
  background-color: #337ab7;
  color: #FFFFFF;
}

.btn.btn-sm, .btn-group-sm .btn, .navbar .navbar-nav > li > a.btn.btn-sm, .btn-group-sm .navbar .navbar-nav > li > a.btn {
  padding: 5px 8px;
}

/* Table */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 5px 5px;
}

/**/
.line-breaker {
  white-space: pre-line;
}

.alert {
  padding: 10px;
}

.progress {
  height: auto;
}

.main-panel > .content {
  margin-top: 0px;
}

.checkbox label {
  color: inherit;
}

.sidebar .nav [data-toggle="collapse"] ~ div > ul > li > a, .off-canvas-sidebar .nav [data-toggle="collapse"] ~ div > ul > li > a {
  padding-left: 40px;
}

.sidebar .nav li > a, .off-canvas-sidebar .nav li > a {
  margin: 0px 0px 0;
}

.sidebar .nav li:first-child > a, .off-canvas-sidebar .nav li:first-child > a {
  margin: 0 0px;
}

.sidebar .nav, .off-canvas-sidebar .nav {
  margin-top: 0px;
}

.custom-card {
  border: 1px solid #ddd;
  border-left: 3px solid #F44336;
}

.card .body {
  font-size: 12px;
  color: #555;
  padding: 20px;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mt15 {
  margin-top: 12px !important;
}

.input-group {
  width: 100%;
  margin-bottom: 15px;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.card .body .col-xs-6, .card .body .col-sm-6, .card .body .col-md-6, .card .body .col-lg-6 {
  margin-bottom: 20px;
}

.account-name {
  font-weight: bold;
  color: #337ab7;
}

.k-grid-norecords td {
  text-align: center;
  font-size: 13px;
  color: #a2a2a2;
}

.material-icons {
  font-size: 20px;
}

.swal2-container {
  z-index: 3000;
}

.swal2-modal h2 {
  font-size: 23px;
  line-height: 40px;
}

.swal2-modal .swal2-content {
  font-size: 15px;
}

/*.swal2-icon.swal2-warning {
  font-size: 33px;
  line-height: 66px;
}
.swal2-icon {
  width: 60px;
  height: 60px;
}*/
.cell-link {
  margin: -8px -12px;
  padding: 8px 12px;
  line-height: inherit;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overlayTarget {
  position: relative;
  display: block;
  min-height: calc(100vh - 100px);
  padding-top: 15px;
}

.progress {
  margin-bottom: 10px;
}

.ant-card {
  background: #fff;
  min-height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.ant-card.big-card {
  min-height: calc(100vh - 80px);
}

.ant-card .body {
  color: #111;
  padding: 20px;
}

.form-group .control-label {
  text-align: left;
  font-weight: bold;
}

.action-groups {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.searching-method {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  height: 50px;
}
