<div class="form-group search">
	<div class="form-inline">
		<button class="btn btn-info btn-sm" (click)="showList()" title="Chọn lịch từ danh sách"><i class="material-icons">list</i> Danh sách lịch</button>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-md-6">
			<b><i class="fa fa-clock-o" aria-hidden="true"></i> Tên lịch</b>
			<div class="input-group mb0">
				<input [(ngModel)]="schedule.name" class="form-control">
			</div>
		</div>
		<div class="col-md-6 col-xs-6">
			<b><i class="fa fa-bullseye" aria-hidden="true"></i> Trạng thái</b>
			<div class="input-group mb0">
				<kendo-dropdownlist
					[data]="statusList"
					[textField]="'text'"
					[valueField]="'value'"
					[valuePrimitive]="true"
					[(ngModel)]="schedule.active"
					class="form-control">
				</kendo-dropdownlist>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<b><i class="fa fa-bullseye" aria-hidden="true"></i> Thời gian tạm dừng</b>
			<div class="input-group mb0">
				<kendo-dropdownlist
					[data]="delayList"
					[textField]="'text'"
					[valueField]="'value'"
					[valuePrimitive]="true"
					[(ngModel)]="schedule.delay"
					class="form-control">
				</kendo-dropdownlist>
			</div>
		</div>
		<div class="col-md-6">
			<b><i class="fa fa-repeat" aria-hidden="true"></i> Lặp lại sau</b>
			<div class="input-group mb0">
				<kendo-dropdownlist
					[defaultItem]="{text:'Không lặp lại', value: null}"
					[data]="repeatList"
					[textField]="'text'"
					[valueField]="'value'"
					[valuePrimitive]="true"
					[(ngModel)]="schedule.repeat"
					class="form-control">
				</kendo-dropdownlist>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<b><i class="fa fa-clock-o" aria-hidden="true"></i> Bắt đầu</b>
			<div class="input-group mb0">
				<div class="form-line">
					<kendo-datepicker
						[(value)]="schedule.startTime"
					></kendo-datepicker>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<b><i class="fa fa-calendar" aria-hidden="true"></i> Kết thúc</b>
			<div class="input-group mb0">
				<div class="form-line">
					<kendo-datepicker
						[(value)]="schedule.endTime"
					></kendo-datepicker>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb0">
			<div class="form-group">
				<button class="btn btn-info btn-sm" (click)="saveSchedule()">
					<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
					Lưu đặt lịch
				</button>
			</div>
		</div>
	</div>
</div>
