<tabset>
	<tab [active]="tabs.length == 0">
		<template tabHeading>
			<i class="material-icons">home</i>
		</template>
		<home></home>
	</tab>
	<tab *ngFor="let tabz of tabs"
		 [active]="tabz.active">
		<template tabHeading>
			{{tabz.title}} <a (click)="removeTabHandler(tabz)" style="color: #FFFFFF;" *ngIf="tabz.removable"><i class="material-icons">close</i></a>
		</template>
		<dynamic-component [componentData]="tabz.componentData"></dynamic-component>
	</tab>
</tabset>
<!--<router-outlet></router-outlet>-->
