<div class="row">
	<div class="card no-header">
		<div class="card-content">
			<kendo-grid
				[data]="schedules"
				style="height:500px"
			>
				<kendo-grid-column field="post.title" title="Bài viết" [width]="300"></kendo-grid-column>
				<kendo-grid-column field="status" title="Trạng thái" [width]="100">
					<ng-template kendoGridCellTemplate let-dataItem>
						{{dataItem.status | scheduleStatus}}
					</ng-template>
				</kendo-grid-column>
				<kendo-grid-column field="createdAt" title="Ngày tạo" [width]="100">
					<ng-template kendoGridCellTemplate let-dataItem>
						{{dataItem.createdAt | date: 'short' }}
					</ng-template>
				</kendo-grid-column>
				<ng-template kendoGridDetailTemplate let-dataItem>
					<group-post-detail [schedule]="dataItem"></group-post-detail>
				</ng-template>
			</kendo-grid>
		</div>
	</div>
</div>
