<div class="row">
	<div class="card no-header">
		<div class="card-content">
			<div class="col-sm-6">
				<joined-group [hidden]="started"></joined-group>
				<group-post-detail [schedule]="schedule" [hidden]="!started"></group-post-detail>
			</div>
			<div class="col-sm-6">
				<div class="row ">
					<button class="btn btn-info btn-sm pull-right" (click)="selectPost()"><i class="material-icons">content_paste</i>
						Chọn bài viết
					</button>
				</div>
				<post-preview [post]="post"></post-preview>
				<div class="row" *ngIf="post.id">
					<button class="btn btn-primary pull-right" (click)="start()" *ngIf="schedule.status == scheduleStatus.Opened"><i class="material-icons">motorcycle</i> Bắt đầu
					</button>
					<button class="btn btn-error pull-right" (click)="stop()" *ngIf="schedule.status != scheduleStatus.Opened && schedule.status != scheduleStatus.Stopped"><i class="material-icons">stop</i> Kết thúc
					</button>
					<button class="btn btn-info pull-right" (click)="pause()" *ngIf="schedule.status != scheduleStatus.Opened && schedule.status != scheduleStatus.Stopped"><i class="material-icons">pause</i> Tạm dừng
					</button>
				</div>
				<p><ngb-progressbar type="info" [value]="50">{{progressMessage()}}</ngb-progressbar></p>
			</div>
		</div>
	</div>
</div>
