<div class="logo">
    <a class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/ant.png"/>
        </div>
        Ant Post
    </a>
</div>
<div class="logo logo-mini">
	<div style="text-align: center;">
		<img src="/assets/img/ant.png" data-pin-nopin="true" style="width: 50px;">
	</div>
</div>
<div class="sidebar-wrapper">
    <div class="nav-container">
        <ul class="nav">
            <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
                <a (click)="goTo(menuItem.path)">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
