<div class="container">
	<div class="row">
		<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
			<div class="card card-login">
				<div class="card-header text-center" data-background-color="rose">
					<h4 class="card-title">ANT POST</h4>
				</div>
				<div class="card-content">
					<div class="input-group">
						<div class="form-group">
							<label class="control-label">Email</label>
							<input type="text" class="form-control" placeholder="Email đăng nhập Facebook"
								   [(ngModel)]="model.username">
						</div>
					</div>
					<div class="input-group">
						<div class="form-group">
							<label class="control-label">Mật khẩu</label>
							<input type="password" class="form-control" placeholder="Mật khẩu Facebook"
								   [(ngModel)]="model.password">
						</div>
					</div>
				</div>
				<div class="footer text-center">
					<button class="btn btn-rose btn-simple btn-wd btn-lg" (click)="loginFb()"> <i class="fa fa-facebook-square"> </i> Đăng nhập</button>
				</div>
			</div>
		</div>
	</div>
</div>
