<div class="row">
	<div class="card no-header">
		<div class="card-content">
			<div class="col-sm-6">
				<span class="account-switch">Tài khoản: <span class="account-name">{{selectedAccount.name}}</span> <a><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
				<div style="margin-top: 5px;">
					<div class="form-group">
						<label class="control-label">Nội dung bình luận</label>
						<textarea name="message" rows="3" cols="50" class="form-control" [(ngModel)]="commentForm.message"
								  placeholder="Awesome!"></textarea>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Số bài/nhóm muốn bình luận</label>
								<kendo-dropdownlist
									[data]="postNumbers"
									[textField]="'text'"
									[valueField]="'value'"
									[valuePrimitive]="true"
									[(ngModel)]="commentForm.numberOfPosts"
									class="form-control">
								</kendo-dropdownlist>

							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Delay</label>
								<kendo-dropdownlist
									[data]="delayList"
									[textField]="'text'"
									[valueField]="'value'"
									[valuePrimitive]="true"
									[(ngModel)]="commentForm.delay"
									class="form-control">
								</kendo-dropdownlist>

							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox" [(ngModel)]="commentForm.like">
								<span class="checkbox-material"><span class="check"></span></span>
								Like bài viết
							</label>
						</div>
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox" [(ngModel)]="commentForm.commentOnTop">
								<span class="checkbox-material"><span class="check"></span></span>
								Trả lời vào bình luận mới nhất
							</label>
						</div>
					</div>
					<schedule-progress [hidden]="!showProgress" [options]="progressOptions"></schedule-progress>
					<schedule-actions
						[options]="scheduleOptions"
						[meta]="commentForm"
						[account]="selectedAccount"
						[status]="status"
						(onAction)="onAction($event)"></schedule-actions>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="search">
					<div class="form-inline">
						<button class="btn btn-primary btn-sm" (click)="selectGroups()"><i class="material-icons">people</i> Chọn nhóm</button>
					</div>
				</div>
				<selected-groups [groups]="groups"></selected-groups>
			</div>
		</div>
	</div>
</div>
