<div class="row" overlayTarget="comment-up">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div class="ant-card big-card">
			<div class="body pt0">
				<div class="row clearfix">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb0">
						<div class="form-group">
							<span class="account-switch">Tài khoản: <span
								class="account-name">{{selectedAccount.name}}</span> <a><i class="fa fa-pencil-square-o"
																						   aria-hidden="true"></i></a></span>
						</div>
						<div class="form-group">
							<label class="control-label">Nhóm được chọn: </label>
							<span class="text-danger"><strong>{{meta.groups.length}}</strong> </span>
							<button class="btn btn-success btn-xs btn-simple" (click)="selectGroups()">
								<i class="fa fa-user-plus"></i> Chọn nhóm
							</button>
						</div>
						<div class="form-group">
							<label class="control-label">Nội dung bình luận</label>
							<textarea name="message" rows="3" cols="50" class="form-control" [(ngModel)]="meta.message"
									  placeholder="Awesome!"></textarea>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Số bài/nhóm muốn bình luận</label>
									<kendo-dropdownlist
										[data]="postNumbers"
										[textField]="'text'"
										[valueField]="'value'"
										[valuePrimitive]="true"
										[(ngModel)]="meta.numberOfPosts"
										class="form-control">
									</kendo-dropdownlist>

								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Thời gian tạm dừng giữa 2 bình luận</label>
									<kendo-dropdownlist
										[data]="delayList"
										[textField]="'text'"
										[valueField]="'value'"
										[valuePrimitive]="true"
										[(ngModel)]="meta.delay"
										class="form-control">
									</kendo-dropdownlist>

								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input type="checkbox" [(ngModel)]="meta.like">
									<span class="checkbox-material"><span class="check"></span></span>
									Like bài viết
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input type="checkbox" [(ngModel)]="meta.commentOnTop">
									<span class="checkbox-material"><span class="check"></span></span>
									Trả lời vào bình luận mới nhất
								</label>
							</div>
						</div>
						<div class="form-group">
							<button class="btn btn-primary btn-sm" (click)="startJob('Bình luận lên bài')"><i
								class="fa fa-paper-plane-o" aria-hidden="true"></i> Bình luận ngay
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div class="ant-card big-card">
			<div class="body pt0">
				<div class="row clearfix">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb0">
						<schedule-form [meta]="meta"
									   [account]="selectedAccount"
									   [type]="scheduleType"
										(onUpdate)="onUpdateSchedule($event)"></schedule-form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
