<div class="row">
	<div class="col-md-12">
		<div class="ant-card big-card">
			<div class="body pt0">
				<div class="action-groups">
					<button class="btn btn-primary btn-sm pull-right" (click)="add()">
						<i class="fa fa-plus"></i> Thêm mới
					</button>
				</div>
				<kendo-grid [data]="groups" [height]="410">
					<kendo-grid-column field="name" title="Nhóm tài khoản mục tiêu" width="180">
					</kendo-grid-column>
					<kendo-grid-column field="description" title="Mô tả" width="200">
					</kendo-grid-column>
					<kendo-grid-column field="createdAt" title="Ngày tạo" width="100">
						<ng-template kendoGridCellTemplate let-dataItem>
							{{dataItem.createdAt | date: 'yMd' }}
						</ng-template>
					</kendo-grid-column>
					<kendo-grid-column field="count" title="Số tài khoản" width="80">
					</kendo-grid-column>
					<kendo-grid-column title="" [width]="80">
						<ng-template kendoGridCellTemplate let-dataItem>
							<a class="text-success" (click)="edit(dataItem)"><i class="fa fa-edit"></i></a>
							<a class="text-danger" (click)="remove(dataItem)"><i class="fa fa-close"></i></a>
						</ng-template>
					</kendo-grid-column>
				</kendo-grid>
			</div>
		</div>
	</div>
</div>
