<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <!--<base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">-->

    <!--<link href="assets/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!--<link href="assets/css/common.css" rel="stylesheet"/>-->
    <!--<link href="assets/css/style.css" rel="stylesheet"/>-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Bootstrap core CSS     -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" />

	<!--<link href="assets/materialize/css/materialize.css" rel="stylesheet"/>-->

	<!--  Material Dashboard CSS    -->
	<link rel="stylesheet" href="http://www.telerik.com/kendo-angular-ui/npm/node_modules//@progress/kendo-theme-bootstrap/dist/all.css" />
	<link href="assets/css/material-dashboard-pro.css" rel="stylesheet"/>

	<!-- Insert this line above script imports  -->
	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

	<script src="assets/js/jquery-3.1.1.min.js"></script>
	<script src="assets/js/jquery-ui.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/perfect-scrollbar.jquery.min.js"></script>
	<script src="assets/js/material.min.js"></script>
	<script src="assets/js/bootstrap-notify.js"></script>

</head>

<body>

  <app>
    Loading...
  </app>

  <!-- Google Analytics: change UA-71073175-1 to be your site's ID -->

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

  <!-- Insert this line after script imports -->
  <script>if (window.module) module = window.module;</script>

</body>
</html>
